@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;
@{int? id = Context.Session.GetInt32("id"); 
}
<h1>Manage Reports</h1>
<h2>Regional Financial Report</h2>

<h2>Report For Previously Selected Centre<h2>
<table style="width:100%;">
    <tr>
    <td>Total Income&nbsp;</td>
    <td>Total Expense&nbsp;</td>
    
    </tr>
    <tr>
    <td>R16500,87&nbsp;</td>
    <td>R10000,90&nbsp;</td>
    
    </tr>
</table>